Seminar/anti_kuba_bot/

Seminar/anti_kuba_bot.7z

rp_gevo/backend/.env

rp_gevo/backend/client_secrets.json

jasovo_metrum/corpusCzechVerse
jasovo_metrum/data.csv
random-fun/valentyn_troll_config.py
random-fun/valentyn_troll.py
random-fun/__pycache__
random-fun/__pycache__/valentyn_troll_config.cpython-312.pyc
random-fun/csts_scrape/__pycache__/config.cpython-313.pyc
random-fun/csts_scrape/app.log

**/__pycache__/**
**/.venv/** 
