[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyphen = "*"
unidecode = "*"
black = "*"
tensorflow = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.11"
