@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=PT+Serif:ital@0;1&display=swap');

/* Color Schemes */
$yinmn-blue: #3d5a80;
$powder-blue: #98c1d9;
$light-cyan: #e0fbfc;
$burnt-sienna: #ee6c4d;
$gunmetal: #293241;

/* Fonts */
$font-sans: 'Fira Sans', sans-serif;
$font-body: 'PT Serif', serif;

/* Font Sizes */
$font-size-title: 3rem;
$font-size-large: 2rem;
$font-size-medium: 1.5rem;
$font-size-small: 1rem;
$font-size-xsmall: 0.75rem;

/* Font Weights */
$font-weight-bold: 700;
$font-weight-normal: 400;