{% extends 'base.html' %} {% block header %} {% include 'nav.html' %} {%
endblock %} {% block content %}
<div class="flex min-h-screen flex-col justify-center px-6 py-12">
  <div class="mx-auto w-full">
    <img
      class="mx-auto h-64 w-auto"
      src="https://www.gevo.cz/files/responsive/640/0/adamklepac.jpg"
      alt="AAAAAAAAAAAAAAAAAAAAAAAAAAA"
    />
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-100"
    >
      Titulní strana
        </h2>
  </div>
  <div class="mt-5 mx-auto w-full max-w-lg">
    <form class="space-y-6" action="/title" method="POST">
      <div class="mt-2">
        <label
          for="Title"
          class="block text-sm font-medium leading-6 text-gray-100"
          >Nadpis</label
        >
        <input
          id="title"
          name="title"
          type="title"
          value="{{ title }}"
          class="block w-full border-0 ring-my-yellow ring-1 p-2 text-gray-900 placeholder:text-gray-400 focus:outline-none focus:ring-my-orange focus:ring-2"
        />
      </div>
      <div class="mt-2">
        <label
          for="subtitle"
          class="block text-sm font-medium leading-6 text-gray-100"
          >Podnadpis</label
        >
        <input
          id="subtitle"
          name="subtitle"
          type="subtitle"
          value="{{ subtitle }}"
          class="font-serif block w-full border-0 ring-my-yellow ring-1 p-2 text-gray-900 placeholder:text-gray-400 focus:outline-none focus:ring-my-orange focus:ring-2"
        />
      </div>
      <div class="mt-2">
        <label
          for="date"
          class="block text-sm font-medium leading-6 text-gray-100"
          >Termín</label
        >
          <input
            id="date"
            name="date"
            type="date"
            value="{{ date.strftime("%Y-%m-%d")}}"
            class="font-serif block w-full border-0 ring-my-yellow ring-1 p-2 text-gray-900 placeholder:text-gray-400 focus:outline-none focus:ring-my-orange focus:ring-2"
          />
        </>
      </div>

      <div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-md bg-my-orange py-2 px-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-my-yellow transition duration-300 ease-in-out focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Potvrdit
        </button>
      </div>
    </form>
  </div>



  <div class="mt-10 mx-auto w-full max-w-4xl">
    <form class="space-y-6" action="/about" method="POST">

        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-100">O muzikálu</h2>
        <div class="mt-2">
        <label
        for="heading"
        class="block text-sm font-medium leading-6 text-gray-100">Nadpis odstavce o muzikálu</label>

        <input type="text" value="{{ about.heading }}" name="heading" class="block w-full border-0 ring-my-yellow ring-1 p-2 text-gray-900 placeholder:text-gray-400 focus:outline-none focus:ring-my-orange focus:ring-2"" name="about_title" />

        </div>
        <div class="mt-2">
        <label
          for="text"
          class="block text-sm font-medium leading-6 text-gray-100"
          >Text o muzikálu</label
        >

        <textarea name="text" class="w-full h-96 block border-0 ring-my-yellow ring-1 p-2 text-gray-900 placeholder:text-gray-400 focus:outline-none focus:ring-my-orange focus:ring-2">{{about.text}}</textarea>
        />
      </div>

      <div class="mt-2">
        <label
        for="image"
        class="block text-sm font-medium leading-6 text-gray-100">URL obrázku o muzikálu</label>

        <input type="text" name="image" value="{{ about.image }}" class="block w-full border-0 ring-my-yellow ring-1 p-2 text-gray-900 placeholder:text-gray-400 focus:outline-none focus:ring-my-orange focus:ring-2" name="about_image" />
	</div>


      <div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-md bg-my-orange py-2 px-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-my-yellow transition duration-300 ease-in-out focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Potvrdit
        </button>
      </div>
    </form>
  </div>

  <div class="mt-10 mx-auto w-full max-w-6xl">
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-100"
    >
      Novinky
        </h2>



      <div class="container grid grid-cols-2 grid-rows-auto gap-x-10 gap-y-10 mt-5 ">
        {% for new in news %}
        <div>
          <form class="space-y-6" action="{{ new.id | news_id }}" method="POST">
            <div class="mt-2">
              <label
                for="title"
                class="block text-sm font-medium leading-6 text-gray-100"
                >Titulek</label
              >
              <input
                id="title"
                name="title"
                type="title"
                value="{{ new.title }}"
                class="block w-full border-0 ring-my-yellow ring-1 p-2 text-gray-900 placeholder:text-gray-400 focus:outline-none focus:ring-my-orange focus:ring-2"
              />
            </div>
            <div class="mt-2">
              <label
                for="author"
                class="block text-sm font-medium leading-6 text-gray-100"
                >Autor</label
              >
              <input
                id="author"
                name="author"
                type="title"
                value="{{ new.author }}"
                class="block w-full border-0 ring-my-yellow ring-1 p-2 text-black placeholder:text-black focus:outline-none focus:ring-my-orange focus:text-gray-900 focus:ring-2"
              />
            </div>
            <div class="mt-2">
              <label
                for="text"
                class="block text-sm font-medium leading-6 text-gray-100"
                >Text</label
              >
              <textarea name="text" class="w-full h-48 block border-0 ring-my-yellow ring-1 p-2 text-gray-900 placeholder:text-gray-400 focus:outline-none focus:ring-my-orange focus:ring-2">{{new.text}}</textarea>

            </div>
            <div class="mt-2">
              <label
                for="image"
                class="block text-sm font-medium leading-6 text-gray-100"
                >Obrázek</label
              >
              <input
                id="image"
                name="image"
                type="title"
                value="{{ new.image }}"
                class="block w-full border-0 ring-my-yellow ring-1 p-2 text-black placeholder:text-black focus:outline-none focus:ring-my-orange focus:text-gray-900 focus:ring-2"
              />
            </div>
            <div class="container grid grid-cols-2 grid-rows-auto gap-x-5  gap-y-5 mt-5 ">
              <button
                type="button"
                class="flex w-full justify-center rounded-md bg-my-red py-2 px-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-my-yellow transition duration-300 ease-in-out focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >
                Odstranit novinku
              </button>
              <button
                type="submit"
                class="flex w-full justify-center rounded-md bg-my-orange py-2 px-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-my-yellow transition duration-300 ease-in-out focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >
                Potvrdit
              </button>
            </div>
          </form>
        </div>
        {% endfor %}

  </div>
  <div class="mt-5">
    <button
                  type="button"
                  class="flex w-full justify-center rounded-md bg-my-yellow py-2 px-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-my-orange transition duration-300 ease-in-out focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                >
                  Přidat novinku
    </button>
  </div>
</div>



</div>

{% endblock %} {% block footer %} {% include 'footer.html' %} {% endblock %}
