{% extends 'base.html' %} {% block header %} {% include 'header.html' %} {%
endblock %} {% block content %}
<section class="about px-8 mt-16">
  <div
    class="section-title-container text-center mt-4 flex flex-col justify-center items-center mx-auto"
  >
    <h1
      class="font-bold text-my-yellow section-title text-2xl font-title text-center py-2 px-8 border-b-2 border-b-my-yellow"
    >
      {{ about_heading }}
    </h1>
  </div>
  <div class="px-16 mt-12">
    <div class="about-container flex w-full justify-center">
      <div class="image-container flex items-center">
        <div
          style="background-image: url( '{{ about_image }}' ); height: 400px; min-width: 300px;"
          class="bg-cover bg-center mr-8 border-4 border-gray-300 border-opacity-30"
        ></div>
      </div>
      <p class="text-justify text-gray-100 max-w-screen-lg">{{ about_text }}</p>
    </div>
  </div>
</section>
<section class="news px-8 mt-16">
  <div
    class="section-title-container text-center mt-2 flex flex-col justify-center items-center mx-auto"
  >
    <h1
      class="font-bold text-my-yellow section-title text-2xl font-title text-center py-2 px-8 border-b-2 border-b-my-yellow"
    >
    Novinky
    </h1>
  </div>
  <div
    class="container grid grid-cols-2 grid-rows-auto mx-auto gap-x-4 gap-y-8 mt-12 justify-center w-10/12 justify-items-center"
  >
    {% for new in news %}
    <div
      class="border-2 border-my-yellow px-8 py-4 flex flex-col justify-between w-10/12 bg-my-red bg-opacity-40"
    >
      <div class="card-content">
        <h2
          class="font-title font-bold text-lg max-w-screen-lg text-left text-my-yellow"
        >
          <a href="/news/{{new.id}}" class="hover:text-my-orange transition duration-400">{{new.title}}</a>
        </h2>
        <p class="text-gray-100 mt-4 text-justify">
          {{news_excerpts[new.id]}}
          <a class="text-my-yellow hover:text-my-orange transition duration-400" href="/news/{{new.id}}"
            >číst více</a
          >
        </p>
      </div>
      <div class="card-author-date mt-4">
        <div class="flex justify-between w-full mt-4">
          <span class="text-gray-300 italic text-sm align-bottom"
            >{{new.author}}</span
          >
          <span class="text-gray-300 italic text-sm align-bottom"
            >{{new.date.strftime("%d. %m. %Y")}}</span
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="news px-8 mt-16">
  <div
    class="section-title-container text-center mt-2 flex flex-col justify-center items-center mx-auto"
  >
    <h1
      class="font-bold text-my-yellow section-title text-2xl font-title text-center py-2 px-8 border-b-2 border-b-my-yellow"
    >
      Opráski :3
    </h1>
  </div>
  <div class="container max-w-screen-lg mx-auto mt-12 ">
    <div id="huewhg" class="relative w-full" data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="carousel-wrapper relative overflow-hidden border-4 border-gray-300 border-opacity-30 ">
      <!-- Item 1 -->
      {% for img in imagelist %}
      <div class="duration-700 ease-in-out" data-carousel-item>
        <img
          src="{{img.image}}"
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 "
          alt=""
        />
      </div>
      {% endfor %}
    </div>
    <!-- Slider indicators -->

    <!-- Slider controls -->
    <button
      type="button"
      class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-prev
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
      >
        <svg
          class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"
          />
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button
      type="button"
      class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-next
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
      >
        <svg
          class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>

        <span class="sr-only">Next</span>
      </span>
    </button>
    <div
      class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-10 rtl:space-x-reverse"
    >
      {% for img in imagelist %}
      <button
        type="button"
        style="background-image: url('{{ img.image }}');"
        class=" w-16 h-16 border-2 border-my-yellow bg-cover opacity-60 transition delay-150 hover:opacity-100"
        aria-current="true"
        aria-label="Slide {{loop.index}}"
        data-carousel-slide-to="{{loop.index0}}"
      >
      </button>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %} {% block footer %} {% include 'footer.html' %} {% endblock %}
