[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycodestyle = "*"
pylint = "*"
autopep8 = "*"
flask = "*"
flask-sqlalchemy = "*"
python-decouple = "*"
flask-mysqldb = "*"
google-auth = "*"
google-auth-oauthlib = "*"
oauthlib = "*"
pathlib = "*"
vendor = "*"
requests = "*"
requests-oauthlib = "*"
flask-cors = "*"
flask-oauth = "*"

[dev-packages]

[requires]
python_version = "3.10"
