[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycodestyle = "*"
pylint = "*"
autopep8 = "*"
cachetools = "*"
certifi = "*"
chardet = "*"
click = "*"
flask = "*"
python-decouple = "*"
google-auth = "*"
google-auth-oauthlib = "*"
idna = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
oauthlib = "*"
pyasn1 = "*"
pyasn1-modules = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
six = "*"
urllib3 = "*"
werkzeug = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
authlib = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.11"
