[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
seaborn = "*"
numpy = "*"
black = "*"
pandas = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
