[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
pycodestyle = "*"
pylint = "*"
manim = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
