[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
manim = "*"
numpy = "*"
pylint = "*"
pycodestyle = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.11"
