{% extends 'page.html' %}
{% block content %}
    <div class="mx-auto container edit-user-container pt-16 px-8">
        <h2 class="text-center">{{ form_title }}</h2>
        <div class="edit-user-form-container mx-auto mt-8 grid grid-cols-1">
            <form class="edit-user-form"
                  action="{{ url_for("admin.edit_user") }}"
                  method="post">
                <input type="text" name="name" value="{{ user.name }}">
                <input type="email" name="email" value="{{ user.email }}">
                <input type="role" name="role" value="{{ user.role }}">
            </form>
        </div>
    </div>
{% endblock %}
